<div class="w-[90%] m-auto">
<%= form_tag movies_path, method: :get do %>
  <%= select_tag :category_id, options_for_select(Category.all.map { |c| [c.name, c.id] }), {prompt: "All categories", onchange: 'this.form.submit();' } %>
  <%= submit_tag "Filter" %>
<% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mt-4">Movies</h1>
    <% if user_signed_in? && current_user.role == 'admin' %>
     <%= link_to 'New movie', new_movie_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>
  <div id="movies" class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 grid-flow-row gap-4">
    <%= render @movies%>
  </div>
</div>
<%== pagy_nav(@pagy).html_safe %>
 